BOT_CREATOR_USERNAME=@HidEgoBot
MAIN_BOT_TOKEN=123456789:HDWUhuahhawudw7dhwui-dbabdba7dauawb
# For local development, use ngrok to create a secure tunnel:
# 1. Install ngrok
# 2. Run: ngrok http 8000
# 3. Copy the generated HTTPS URL (e.g., https://xxxx.ngrok.io)
# For production use Cloudflare Tunnel with custom domain
WEBHOOK_BASE_URL=https://abc12-34-567-890-64.ngrok-free.app
# To enhance security and check if webhooks set by our bot, generate a token and put it here
# https://core.telegram.org/bots/api#setwebhook
TG_SECRET_TOKEN=hadwadawda82e2huhdd7dhauid
# Timezone of Logging
TZ=Asia/Tehran
FASTAPI_PORT=8000